@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Mobile first */
.movie__detail {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.movie__detail button {
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: #0c2f57;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
}

.movie__detail button:hover {
  background-color: #114580;
}

.movie__detail img {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.movie__detail h1 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.movie__detail p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  margin: 0;
}

.movie__detail iframe {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 8px;
}

/* Tablette */
@media (min-width: 600px) {
  .movie__detail {
    padding: 1.5rem;
    max-width: 600px;
    margin: 1rem auto;
  }

  .movie__detail h1 {
    font-size: 1.8rem;
  }

  .movie__detail iframe {
    height: 250px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .movie__detail {
    max-width: 700px;
    margin: 2rem auto;
    padding: 1rem;
    gap: 1rem;
  }

  .movie__detail h1 {
    font-size: 2rem;
  }

  .movie__detail p {
    font-size: 1rem;
  }

  .movie__detail iframe {
    width: 560px;
    height: 315px;
  }
}
