@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Mobile first */
.addProfile {
  width: 90vw;
  margin: 1rem auto;
  background: #1e1e1e;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.addProfile__title {
  margin-bottom: 0.8rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.addProfile__form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: 1px solid #ffffff55;
  padding: 1rem;
  border-radius: 8px;
  background: #2a2a2a;
}

.addProfile__form input,
.addProfile__form select {
  font-size: 0.9rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background: #3a3a3a;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.addProfile__form input[type="button"] {
  background-color: #0c2f57;
  color: #fff;
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.addProfile__form input[type="button"]:hover {
  background-color: #114580;
}

.addProfile__form select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23ffffff' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-color: #3a3a3a;
}

.addProfile__form select option {
  background: #2a2a2a;
  color: #fff;
}

.addProfile__form select:focus,
.addProfile__form input:focus {
  outline: 2px solid rgb(91, 89, 110);
}

/* Tablette */
@media (min-width: 600px) {
  .addProfile {
    padding: 1.5rem;
    margin: 1.5rem 0;
  }

  .addProfile__title {
    font-size: 1.4rem;
  }

  .addProfile__form {
    gap: 0.9rem;
    padding: 1.2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .addProfile {
    width: 30rem;
    margin: 2rem 0;
    padding: 2rem;
  }

  .addProfile__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .addProfile__form {
    gap: 1rem;
    padding: 1.5rem;
  }

  .addProfile__form input,
  .addProfile__form select {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .addProfile__form input[type="button"] {
    font-size: 1.1rem;
    padding: 0.7rem;
  }
}
