<div class="landing">
  <h1 class="landing__title">SAE 2.03</h1>
  <p class="landing__subtitle">Plateforme de VOD</p>
  <div class="landing__links">
    <a class="landing__card" href="./app/">
      <span class="landing__card__title">Application</span>
      <span class="landing__card__desc">Accéder à la plateforme</span>
    </a>
    <a class="landing__card" href="./admin/">
      <span class="landing__card__title">Administration</span>
      <span class="landing__card__desc">Gérer le contenu</span>
    </a>
    <a class="landing__card" href="/rapport-realtime.html" target="_blank">
      <span class="landing__card__title">Statistiques</span>
      <span class="landing__card__desc">Voir le trafic du site</span>
    </a>
    <a class="landing__card" href="./iterationsurprise/app/">
      <span class="landing__card__title">itération surprise</span>
      <span class="landing__card__desc">Application final</span>
    </a>
  </div>
</div>
