<div class="addMenu">
    <h4 class="addMenu__title">Ajouter un film</h4>
    <form class="addMenu__form">
        <input required type="text" name="titre" placeholder="Titre du film">
        <input required type="text" name="realisateur" placeholder="Réalisateur">
        <input required type="number" name="annee" placeholder="Année de sortie">
        <input required type="number" name="duree" placeholder="Durée (minutes)">
        <input required type="text" name="description" placeholder="Description / Synopsis">
        <input required type="text" name="category" placeholder="Catégorie (ex: Drame, Action...)">

        <!-- <select required name="category">
            <option value="">Choisir une catégorie</option>
            <option value="1">Action</option>
            <option value="2">Comédie</option>
            <option value="3">Drame</option>
            <option value="4">Science-fiction</option>
            <option value="5">Animation</option>
            <option value="6">Thriller</option>
            <option value="7">Horreur</option>
            <option value="8">Aventure</option>
            <option value="9">Fantaisie</option>
            <option value="10">Documentaire</option>
        </select> -->
        <input required type="text" name="poster" placeholder="Nom du fichier de l'affiche (ex: film.jpg)">
        <input required type="text" name="trailer" placeholder="URL du trailer YouTube">
        <input required type="number" name="age" placeholder="Restriction d'âge (0, 12, 16...)">
        <input onclick="{{handler}}" type="button" value="Ajouter le film">
    </form>
</div>